<!--<app-binding></app-binding>-->
<!--<app-binding-2></app-binding-2>-->
<!--<app-foo></app-foo>-->
<!--<app-foo-2></app-foo-2>-->
<!--<app-stclat></app-stclat>-->
<!--<app-stclat-2></app-stclat-2>-->
<!--<app-inout [(counter)]="age" (sayHello)="onSayHello($event)" [fooBar]="'122222'" [title]="expression ? 'one' : 'two'"></app-inout>-->
<!--<button (click)="expression = !expression">{{ !expression ? 'one' : 'two' }}</button>-->
<!--<app-test></app-test>-->
<!-- <p>{{ title | uppercase }}</p>
<p>{{ title | lowercase }}</p>
<h3>{{ 'Какая-то строка с тайтлом ' + title | lowercase }}</h3>
<h3>{{ 'Какая-то строка с тайтлом ' + title | uppercase }}</h3>
<h3>{{ title + ' Хелло ворлд' | titlecase }}</h3>
<h3>{{ user | json }}</h3> -->
<app-children #component></app-children>
<app-children></app-children>